.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url('../img//hero.jpeg');
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr; // logo와 다른 것 분리
  grid-template-columns: max-content; // 가장 큰것에 width 맞추기
  grid-row-gap: 1.5rem; // 밑의 gap
  justify-content: center;

  &__logo {
    height: 3rem;
    justify-self: center; // vertical 중간
  }

  &__btn {
    align-self: start; // 크기
    justify-self: start; // 왼쪽에서 시작
  }

  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr; // --- text --- 형태
    grid-column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: '';
      height: 1px;
      display: block;
      background-color: currentColor; // seenon-text의 color 사용
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;

    img {
      height: 2.5rem;
      filter: brightness(70%);
    }
  }
}
