.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    background-color: rgba($color-white, 0.5);
    border-bottom: 2px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 2px solid $color-primary;
    }

    &:focus:invalid {
      // 조건에 충족하지 않을 경우 주황색 border
      border-bottom: 2px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      // firefox
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    // 형제 요소라 +로 묶어주는 것, 형제인데 중간에 다른 요소가 있다면 ~로 묶어야 함
    opacity: 0; // 안보이게끔 하는 것이지, 페이지에 존재함
    visibility: hidden; // 페이지에서 안 보여주는 것
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      // 선택되었을 때 원형
      content: '';
      height: 1.3rem;
      width: 1.3rem;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    // input이 체크되었을 때, 안의 원을 나오게 하고 싶을 때
    opacity: 1;
  }
}
